.contact-gradient, .contact .fa-phone:before, .contact .fa-linkedin:before, .contact .fa-envelope:before {
  background: linear-gradient(#FFC46B, #2DCC63); }

@keyframes opacityToZero {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
* {
  padding: 0;
  margin: 0;
  outline: none; }

a {
  color: white;
  text-decoration: none; }

li {
  list-style: none; }

body {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Raleway", sans-serif;
  overflow: auto; }
  body aside {
    flex: 6; }
    body aside h2, body aside h3 {
      opacity: 0; }
    body aside:hover {
      flex: 18; }
      body aside:hover h1 {
        font-size: 9.5em; }
      body aside:hover h2, body aside:hover h3 {
        opacity: 1;
        transition-delay: .5s; }
  body section:before {
    opacity: 0; }
  body section article {
    display: none; }
  body section:hover {
    flex: 20;
    align-items: stretch;
    justify-content: flex-start; }
    body section:hover:before {
      animation: opacityToZero 2.5s;
      opacity: 0; }
    body section:hover h1 {
      font-size: 9em; }
    body section:hover i {
      display: none; }
    body section:hover article {
      display: flex; }
  body * {
    transition: .5s all; }

h2 {
  padding: 4%; }

aside {
  background: #333; }
  aside h1 {
    background: none;
    color: #27fdf5;
    background: -webkit-linear-gradient(#27fdf5, #f765b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: -.07em;
    word-spacing: 20em;
    line-height: .75em;
    padding: 8%;
    padding-bottom: 0; }
  aside h2 {
    color: #f765b8;
    font-size: 2em;
    padding: 4% 8%; }
  aside h3 {
    color: #27fdf5;
    font-size: .9em;
    font-weight: 400;
    padding: 0 8%; }

section {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center; }
  section header {
    flex: 1;
    overflow: hidden; }
    section header h2 {
      color: white;
      font-size: 5em; }
    section header blockquote {
      position: relative;
      width: 96%;
      margin: -4% 0 2% 0;
      margin-left: -2%;
      padding: 4%;
      transform: rotate(-2deg); }

article {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  width: 100%; }
  article header {
    flex: 1; }
  article ol, article ul, article nav {
    display: flex;
    flex: 10; }
  article li, article a {
    flex: 1; }

ol li {
  display: flex;
  align-items: center; }
  ol li dl {
    min-height: 280px; }

dl {
  flex-wrap: wrap;
  padding: 0 8%; }
  dl dt {
    width: 100%;
    padding: 0 2%; }
    dl dt b {
      background: none;
      color: white;
      background: -webkit-linear-gradient(#aa52ff, #f765b8);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0 4% 0 0;
      padding: 1px 0 0 0; }
  dl dd {
    display: inline-block;
    font-size: .9em;
    padding: 2%;
    margin: 2%; }

.about {
  position: relative;
  background: #27fdf5; }
  .about:before {
    background: #27fdf5;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none; }
  .about h2 {
    text-shadow: 10px 5px 0 #aa52ff; }
  .about blockquote {
    background: #aa52ff; }
  .about dd {
    color: #aa52ff;
    border: 1px solid #aa52ff; }

.jobs {
  position: relative;
  background: #f765b8; }
  .jobs:before {
    background: #f765b8;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none; }
  .jobs h2 {
    text-shadow: 10px 5px 0 #27fdf5; }
  .jobs blockquote {
    background: #27fdf5; }
  .jobs dd {
    color: #27fdf5;
    border: 1px solid #27fdf5; }
  .jobs ul {
    flex-wrap: wrap;
    padding: 0 2%; }
  .jobs li {
    flex: 1;
    margin: 0 2%; }
    .jobs li header {
      position: relative;
      overflow: hidden; }
    .jobs li img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 120%;
      margin-left: -60%;
      z-index: 1;
      transform-origin: top; }
    .jobs li h3 {
      background: linear-gradient(to bottom, transparent 0%, #f765b8 100%);
      position: relative;
      font-size: 1.5em;
      padding: 50% 5% 0 5%;
      z-index: 3;
      transform: scale(1.02, 1.02); }
    .jobs li time, .jobs li p, .jobs li dd {
      font-size: .8em; }
    .jobs li time {
      font-style: italic;
      padding: 4%; }
    .jobs li p {
      padding: 4%; }
    .jobs li dl {
      padding: 0; }
    .jobs li dd {
      color: white;
      border: 1px solid white; }
    .jobs li:hover {
      transform: scale(1.1, 1.1);
      z-index: 10; }
      .jobs li:hover img {
        transform: scale(1.15, 1.15); }

.contact {
  position: relative;
  background: #aa52ff; }
  .contact:before {
    background: #aa52ff;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none; }
  .contact h2 {
    text-shadow: 10px 5px 0 #f765b8; }
  .contact blockquote {
    background: #f765b8; }
  .contact dd {
    color: #f765b8;
    border: 1px solid #f765b8; }
  .contact nav {
    display: flex;
    align-items: center; }
  .contact a {
    color: #aa52ff;
    text-align: center; }
    .contact a:before {
      display: flex;
      justify-content: center;
      align-items: center;
      float: none;
      color: #aa52ff;
      font-size: 4em;
      width: 180px;
      height: 180px;
      margin: 0 auto 80px auto;
      border-radius: 50%; }
    .contact a:hover {
      color: white; }
      .contact a:hover:before {
        transform: scale(1.4, 1.4); }

/*# sourceMappingURL=style.css.map */
