$pink: #f765b8;
$blue: #27fdf5;
$purple: #aa52ff;
$font: 'Raleway', sans-serif;
$standardPadding: 4%;
$maxPadding: $standardPadding * 2;
$minimumPadding: $standardPadding / 2;

@mixin opacity-delay {
  opacity: 1;
  transition-delay: .5s;
}

@mixin transparent-background ($firstColor) {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, $firstColor 100%);
}

@mixin text-gradient ($firstColor, $secondColor, $colorFallback, $bgFallback) {
  background: $bgFallback;
  color: $colorFallback;
  background: -webkit-linear-gradient($firstColor, $secondColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin color-animation ($color) {
  background: $color;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none;
}

@mixin color-scheme ($mainColor, $accentColor) {
  position: relative;
  background: $mainColor;
  &:before {
    @include color-animation($mainColor);
  }
  h2 {
    text-shadow: 10px 5px 0 $accentColor;
  }
  blockquote {
    background: $accentColor;
  }

  dd {
    color: $accentColor;
    border: 1px solid $accentColor;
  }
}

@mixin subtitle {
  h2 {
    color: white;
    font-size: 5em;
  }
}

@mixin blockquote ($degree) {
  blockquote {
    position: relative;
    width: 96%;
    margin: -$standardPadding 0 $minimumPadding 0;
    margin-left: -$minimumPadding;
    padding: $standardPadding;
    transform: rotate($degree); 
  }
}

@mixin logo ($firstColor, $secondColor, $colorFallback, $bgFallback) {
  @include text-gradient ($firstColor, $secondColor, $colorFallback, $bgFallback);
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -.07em;
  word-spacing: 20em;
  line-height: .75em;
}

@mixin expandable {
  aside {
    flex: 6;
    h2, h3 {
      opacity: 0;
    }
    &:hover {
      flex: 18;
      h1 {
        font-size: 9.5em;
      }
      h2, h3 {
        @include opacity-delay;
      }
    }
  }

  section {
    &:before {
      opacity: 0;
    }
    article {
      display: none;
    }
    &:hover {
      flex: 20;
      align-items: stretch;
      justify-content: flex-start;
      &:before {
        animation: opacityToZero 2.5s;
        opacity: 0;
      }
      h1 {
        font-size: 9em;
      }
      i {
        display: none;
      }
      article {
        display: flex;
      }
    } 
  }
}

.contact-gradient {
  background: linear-gradient(#FFC46B, #2DCC63);
}

@keyframes opacityToZero {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}
a {
  color: white;
  text-decoration: none;
}
li {
  list-style: none;
}

body {
  @include expandable;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  font-family: $font;
  overflow: auto;
  * {
    transition: .5s all;
  }
}

h2 {
  padding: $standardPadding;
}

aside {
  background: #333;
  h1 {
    @include logo($blue, $pink, $blue, none);
    padding: $maxPadding;
    padding-bottom: 0;
  }
  h2 {
    color: $pink;
    font-size: 2em;
    padding: $standardPadding $maxPadding;
  }
  h3 {
    color: $blue;
    font-size: .9em;
    font-weight: 400;
    padding: 0 $maxPadding;
  }
}

section {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  header {
    @include subtitle;
    @include blockquote(-2deg);
    flex: 1;
    overflow: hidden;
  }
}

article {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  header {
    flex: 1;
  }
  ol, ul, nav {
    display: flex;
    flex: 10;
  }
  li, a {
    flex: 1;
  }
}

ol {
  li {
    display: flex;
    align-items: center;
    dl {
      min-height: 280px;
    }
  }
}

dl {
  flex-wrap: wrap;
  padding: 0 $maxPadding;
  dt {
    width: 100%;
    padding: 0 $minimumPadding;
    b {
      @include text-gradient ($purple, $pink, white, none);
      margin: 0 $standardPadding 0 0;
      padding: 1px 0 0 0;
    }
  }
  dd {
    display: inline-block;
    font-size: .9em;
    padding: $minimumPadding;
    margin: $minimumPadding;
  }
}

.about {
  @include color-scheme($blue, $purple);
}

.jobs {
  @include color-scheme($pink, $blue);
  ul {
    flex-wrap: wrap;
    padding: 0 $minimumPadding;
  }
  li {
    flex: 1;
    margin: 0 $minimumPadding;
    header {
      position: relative;
      overflow: hidden;
    }
    img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 120%;
      margin-left: -60%;
      z-index: 1;
      transform-origin: top;
    }
    h3 {
      @include transparent-background (rgba(247,101,184,1));
      position: relative;
      font-size: 1.5em;
      padding: 50% 5% 0 5%;
      z-index: 3;
      transform: scale(1.02, 1.02);
    }
    time, p, dd {
      font-size: .8em;
    }
    time {
      font-style: italic;
      padding: $standardPadding;
    }
    p {
      padding: $standardPadding;
    }
    dl {
      padding: 0;
    }
    dd {
      color: white;
      border: 1px solid white;
    }
    &:hover {
      transform: scale(1.1, 1.1);
      z-index: 10;
      img {
        transform: scale(1.15, 1.15);
      }
    }
  }
}

.contact {
  @include color-scheme($purple, $pink);
  nav {
    display: flex;
    align-items: center;
  }
  a {
    color: $purple;
    text-align: center;
    &:before {
      display: flex;
      justify-content: center;
      align-items: center;
      float: none;
      color: $purple;
      font-size: 4em;
      width: 180px;
      height: 180px;
      margin: 0 auto 80px auto;
      border-radius: 50%;
    }
    &:hover {
      color: white;
      &:before {
        transform: scale(1.4, 1.4)
      }
    }
  }
  .fa-phone, .fa-linkedin, .fa-envelope {
    &:before {
      @extend .contact-gradient;
    }
  }
}